/**************************/
/*** Base ***/
/**************************/

/* Color */
$colorPrimary: #34C84A;
$colorSecondary: #FDBC40;
$colorCaution: #FC635D;
$colorNavBg: #21252B;
$colorBaseFont: #E5F0FB;
$colorEditorBg: #282C34;
$colorEditorNum: #4B5364;
$colorEditorBlinker: #528BFF;
$colorEditorActiveLn: #2C323C;
$colorDarkThemeLight: lighten($colorEditorBg, 10%);



/* Dimension */
$marginBaseBody: 0;
$marginBaseComponent: 0 1.5rem;
$paddingBaseBody: 0;

/* Font */
$fontBaseSize: 20px;




/**************************/
/*** Bezel ***/
/**************************/

$bezelHeight: 1.3em;

$bezelHeight: 1.3em;
$colorBezelBg: #DDDBDD;
$colorNavTabFont: #D7DAE0;
