.game__title {
  animation-name: pulse;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

.show-modal {
  animation: reveal .4s ease-in-out;
}

@keyframes reveal {
  from {
    opacity: 0;
    top: -1%;
  }

  to {
    opacity: 1;
    top: 2%;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }

}