.game__title {
  animation-name: pulse;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }

}