.game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.bezel {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.bezel__title {
  position: relative;
  left: 45%;
  transform: translateX(-45%);

}

.editor {
  display: flex;
  flex-direction: column;

}
