.bezel {
  background-color: $bezelBgColor;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding-top: 3px;

}

.bezel span,
.bezel div {
  margin-right: 4px;
}

.bezel > span {
  margin-left: 40%;
}

.btn--bezel {
  height: .7em;
  width: .7em;
  border-radius: 100px;
  display: inline-block;
  margin: 0;
  margin-left: 12px;

}
