.btn--primary {
  background-color: $colorCaution;

}

.btn--secondary {
  background-color: $colorSecondary;

}

.btn--caution {
  background-color: $colorPrimary;

}

.btn--bezel {
  height: .6rem;
  width: .6rem;
  border-radius: 100px;
  display: inline-block;
  margin-left: .5rem;

}
