.editor {
  margin: $marginBaseComponent;
  background-color: $colorEditorBg;
  color: $colorEditorNum;
  padding: 0 1.5rem;
  padding-bottom: 1rem;


}

.editor__ln--active {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  padding-right: 60rem;
  background-color: $colorEditorActiveLn;

}

@keyframes blinker {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

}

.editor__blinker {
  color: $colorEditorBlinker;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: .9s;

}
