.lessons_nav {
  @include nav;
  border-radius: .5rem;
  //margin: $marginComponentContainer;
  margin: 1rem 2.5rem 0 1rem;
  min-width: 18%;
  min-height: 28.4rem;
}

.lessons_nav__title {
  color: $colorBaseFont;
  font-size: 1.3rem;
  text-align: center;
  padding: .3rem;

}

.lessons_nav__lesson {
  @include nav-header;
  font-size: 1rem;
  border-bottom: 1px solid $colorDarkThemeLight;
  padding: .5rem;

}

.lessons_nav__lesson__title {
  color: darken($colorBaseFont, 3%);
}
