.lessons_nav {
  @include nav;
  border-radius: .5rem;
  margin: $marginComponentContainer;
  min-width: 20%;

}

.lessons_nav__title {
  color: $colorBaseFont;
  font-size: $fontBaseSize;
  text-align: center;
  padding: .3rem;

}

.lessons_nav__lesson {
  @include nav-header;
  border-bottom: 1px solid $colorDarkThemeLight;
  padding: .5rem;

}

.lessons_nav__lesson__title {
  color: darken($colorBaseFont, 3%);
}
