.lessons_nav {
  @include nav;
  width: 20%;
  border-radius: .5rem;

}

.lessons_nav__title {
  color: darken(#fff, 30%);
  font-size: $fontBaseSize;
  //font-weight: 300;
  text-align: center;
  padding: .3rem;

}

.lessons_nav__lesson {
  @include nav-header;
  border-bottom: 1px solid $colorDarkThemeLight;
  padding: .5rem;
  //font-weight: 200;

}

.lessons_nav__lesson__title {
  color: darken(#fff, 40%);
}
