.m {
  margin: $base;
}

.m-t {
  margin-top: $base;
}

.m-r {
  margin-right: $base;
}

.m-b {
  margin-bottom: $base;
}

.m-r {
  margin-right: $base;
}

.ms {
  margin: $baseSmall;
}

.ms-t {
  margin-top: $baseSmall;
}

.ms-r {
  margin-right: $baseSmall;
}

.ms-b {
  margin-bottom: $baseSmall;
}

.ms-r {
  margin-right: $baseSmall;
}
