.p {
  margin: $base;
}

.p-t {
  margin-top: $base;
}

.p-r {
  margin-right: $base;
}

.p-b {
  margin-bottom: $base;
}

.p-r {
  margin-right: $base;
}

.ps {
  margin: $baseSmall;
}

.ps-t {
  margin-top: $baseSmall;
}

.ps-r {
  margin-right: $baseSmall;
}

.ps-b {
  margin-bottom: $baseSmall;
}

.ps-r {
  margin-right: $baseSmall;
}
