/**************************/
/*** Base ***/
/**************************/
/* Color */
/* Dimension */
/**************************/
/*** Bezel ***/
/**************************/
* {
  /* Dimensions */
  margin: 0;
  padding: 0;
  outline: none; }

html {
  font-size: 16px; }

body {
  /* Font */
  font-family: sans-serif;
  font-weight: normal;
  background: linear-gradient(to right, #50617F, #3D485F);
  overflow: hidden; }

.header {
  width: 100%;
  margin-bottom: 1.5rem; }

.game__main {
  width: 75%; }

.game__title--container {
  margin-bottom: 5%;
  margin-top: 0;
  color: #bfbfbf;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  width: 100%;
  text-align: center; }

.game__title {
  transform: translateX(-50%);
  font-weight: 200; }

.btn {
  display: inline-block;
  font-weight: 16px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.3s;
  color: white;
  padding: 0.5rem 16px; }
  .btn:hover, .btn:focus {
    text-decoration: none; }

.btn--default {
  background-color: #2C7DF6; }
  .btn--default:focus, .btn--default.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
  .btn--default:active {
    background-color: #0062cc; }

.btn--grey {
  background-color: #6D747C; }
  .btn--grey:focus, .btn--grey.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(179, 188, 196, 0.5); }
  .btn--grey:active {
    background-color: #555b61; }

.btn--caution {
  background-color: #FC635D; }

.btn--secondary {
  background-color: #FDBC40; }

.btn--primary {
  background-color: #34C84A; }

.btn--bezel {
  height: .6rem;
  width: .6rem;
  border-radius: 100px;
  display: inline-block;
  margin-left: 0.5rem; }

.bezel {
  background-color: #DDDBDD;
  border-radius: 10px 10px 0px 0px;
  padding: 3px; }

.nav {
  background-color: #21252B;
  color: #fff; }

.nav__tab {
  background-color: #282C34;
  font-size: .8rem;
  text-align: center;
  padding: .3rem;
  width: 25%; }

.editor {
  background-color: #282C34;
  color: #4B5364;
  padding: 0 1.5rem;
  padding-bottom: 2rem;
  height: 50vh;
  max-height: 50vh;
  min-height: 23rem; }

.editor__ln--active {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  display: inline-block;
  width: 80%; }

.editor__blinker {
  color: #528BFF;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: .9s; }

.editor__ln--input {
  background-color: #2C323C;
  border: none;
  font-size: 20px;
  width: 100%; }

.editor__ln--input::after {
  content: "hello";
  color: red;
  font-size: 50px; }

@keyframes blinker {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.footer {
  background-color: #21252B;
  height: 2rem;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #181A1F; }

.interface {
  width: 72%;
  min-height: 30rem;
  margin-top: 1rem; }

.App {
  display: flex;
  justify-content: space-between; }

.game__main {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden; }

.bezel {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.bezel__title {
  position: relative;
  left: 45%;
  transform: translateX(-45%); }

.editor {
  display: flex;
  flex-direction: column; }

.lessons_nav {
  background-color: #21252B;
  color: #fff;
  border-radius: .5rem;
  margin: 1rem 1.5rem 0 1rem;
  min-width: 18%;
  width: 20%;
  min-height: 28.4rem; }

.lessons_nav__title {
  color: #E5F0FB;
  font-size: 1.3rem;
  text-align: center;
  padding: .3rem; }

.lessons_nav__lesson {
  background-color: #282C34;
  font-size: .8rem;
  font-size: 1rem;
  border-bottom: 1px solid #3e4451;
  padding: .5rem; }

.lessons_nav__lesson__title {
  color: #d8e8f9; }

.js-key {
  color: #C49CCA; }

.js-var {
  color: #CCCCCC; }

.js-symbol {
  color: #80CBCB; }

.js-str {
  color: #8EC49C; }

.fa-crown {
  color: #FDBC40;
  font-size: 3rem; }

.header__logo {
  font-size: 2.3rem;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  letter-spacing: 3px;
  color: white; }

.fab,
.contact {
  margin-right: 1rem; }
  .fab:hover,
  .contact:hover {
    color: #FDBC40; }

.fa-times:active {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.game__title {
  animation-name: pulse;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease; }

.show-modal {
  animation: reveal .4s ease-in-out; }

@keyframes reveal {
  from {
    opacity: 0;
    top: -1%; }
  to {
    opacity: 1;
    top: 2%; } }
@keyframes pulse {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }
.m {
  margin: 16px; }

.m-t {
  margin-top: 16px; }

.m-r {
  margin-right: 16px; }

.m-b {
  margin-bottom: 16px; }

.m-r {
  margin-right: 16px; }

.ms {
  margin: 0.5rem; }

.ms-t {
  margin-top: 0.5rem; }

.ms-r {
  margin-right: 0.5rem; }

.ms-b {
  margin-bottom: 0.5rem; }

.ms-r {
  margin-right: 0.5rem; }

.p {
  margin: 16px; }

.p-t {
  margin-top: 16px; }

.p-r {
  margin-right: 16px; }

.p-b {
  margin-bottom: 16px; }

.p-r {
  margin-right: 16px; }

.ps {
  margin: 0.5rem; }

.ps-t {
  margin-top: 0.5rem; }

.ps-r {
  margin-right: 0.5rem; }

.ps-b {
  margin-bottom: 0.5rem; }

.ps-r {
  margin-right: 0.5rem; }

.modal {
  position: absolute;
  top: 2%;
  left: 37.5%;
  transform: translateX(-37.5%);
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden; }

.hide-modal {
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
