.editor {
  //margin: $marginBaseComponent;
  background-color: $colorEditorBg;
  color: $colorEditorNum;
  padding: 0 1.5rem;
  padding-bottom: 2rem;


}

.editor__ln--active {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  // padding-right: 90%;
  // background-color: $colorEditorActiveLn;
  display: inline-block;
  width: 80%;


}

.editor__blinker {
  color: $colorEditorBlinker;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: .9s;


}

.editor__ln--input {
  background-color: $colorEditorActiveLn;
  border: none;
  font-size: 20px;
  width: 100%;
}

.editor__ln--input::after {
  content: "hello";
  color: red;
  font-size: 50px;
}

@keyframes blinker {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

}
