/**************************/
/*** Base ***/
/**************************/

/* Color */
$colorPrimary: #34C84A;
$colorSecondary: #FDBC40;
$colorCaution: #FC635D;
$colorEditorBg: #21252B;
$colorEditorTabBg: #282C34;

/* Dimension */
$marginBaseBody: 0;
$marginBaseComponent: 1.5rem 1.5rem 0px 1.5rem;
$paddingBaseBody: 0;

/* Font */
$baseFontSize: 20px;




/**************************/
/*** Bezzel ***/
/**************************/

$bezelHeight: 1.3em;

$bezelHeight: 1.3em;
$bezelBgColor: #DDDBDD;
$navTabFontColor: #D7DAE0;
$asideNumColor: #4B5364;
$editorActiveLn: #2C323C;
